.root {
    -color-bg-primary: derive(#ebebeb, 26.4%);
    -color-bg-secondary: derive(derive(#ebebeb, 95%), -6%);
    -color-bg-tertiary: derive(#ebebeb, 46.4%);
    -color-bg-overlay: derive(derive(#ebebeb, 95%), -6%);
    -color-bg-alt: derive(#ebebeb, 95%);
    -color-bg-search: derive(#ebebeb, 80%);
    -color-bg-sidepane: #dddddd;
    -color-fg-default: #000;
    -color-fg-muted: #000;
    -color-fg-emphasis: #ffffff;
    -color-fg-menu-active: #000;
    -color-border-default: derive(#ebebeb, -5%);
    -color-button-border: derive(#ebebeb, -5%);
    -color-accent: #C83F49;
    -color-link: #C83F49;
    -color-accent-subtle: #FC5A8D;
    -color-selection: #FC5A8D;
    -color-button-default: derive(#FC5A8D, 50%);
    -color-button-hover: #FCCEDC;
    -color-button-pressed: #0002;
    -color-overlay-hover: #0001;
    -color-overlay-armed: #0002;
    -color-success: #10ac84;
    -color-success-emphasis: #1dd1a1;
    -color-warning: #ff9f43;
    -color-danger: #ff6b6b;
    -color-danger-emphasis: #ee5253;
    -color-info-subtle: rgba(163, 183, 230, 0.16);
    -color-syntax-keyword: #7559C2;
    -color-scrollbar-thumb: derive(derive(#ebebeb, -5%), -30%);
    -color-scrollbar-track: derive(derive(#ebebeb, 95%), -10%);
    -color-tooltip-bg: #FC5A8D;
    -color-tooltip-fg: #000;
    -color-drag-target: #7559C2;
    -color-drag-target-hover: derive(#7559C2, 80%);
    -color-badge-bg: derive(#dddddd, -50%);
    -color-badge-fg: ladder( derive(#dddddd, -50%), #ffffff 45%, #000 46%, #000 59%, #000 60% );
}
