.root {
    -color-bg-primary: #151924;
    -color-bg-secondary: #272b38;
    -color-bg-tertiary: #141824;
    -color-bg-overlay: #272b38;
    -color-bg-alt: #212330;
    -color-bg-search: #2c2e3b;
    -color-bg-sidepane: #212330;
    -color-fg-default: white;
    -color-fg-muted: white;
    -color-fg-emphasis: white;
    -color-fg-menu-active: derive(white, 50%);
    -color-border-default: #333744;
    -color-button-border: #333744;
    -color-accent: #CC397B;
    -color-link: #CC397B;
    -color-accent-subtle: #C74375;
    -color-selection: #C74375;
    -color-button-default: derive(#C74375, 50%);
    -color-button-hover: #fff1;
    -color-button-pressed: #fff2;
    -color-overlay-hover: #fff1;
    -color-overlay-armed: #fff2;
    -color-success: #1cb631;
    -color-success-emphasis: #28d93c;
    -color-warning: #b77620;
    -color-danger: #db1d2b;
    -color-danger-emphasis: #b71c1f;
    -color-syntax-keyword: #b72486;
    -color-scrollbar-thumb: white;
    -color-scrollbar-track: derive(#272b38, -90%);
    -color-tooltip-bg: #C74375;
    -color-tooltip-fg: derive(white, 50%);
    -color-drag-target: #C74375;
    -color-drag-target-hover: #C74375;
    -color-badge-bg: #151924;
    -color-badge-fg: white;
}
