.root {
    -color-bg-primary: #151924;
    -color-bg-tertiary: #141824;
    -color-bg-overlay: #151924;
    -color-bg-search: #2c2e3b;
    -color-bg-sidepane: #212330;
    -color-fg-default: #9aa3af;
    -color-fg-muted: #7d8591;
    -color-fg-emphasis: #9aa3af;
    -color-fg-menu-active: derive(#9aa3af, 50%);
    -color-border-default: #333744;
    -color-button-border: #333744;
    -color-accent: #7B3F00;
    -color-link: #7B3F00;
    -color-accent-subtle: #3F000F;
    -color-selection: #3F000F;
    -color-button-default: derive(#3F000F, 50%);
    -color-button-hover: #fff1;
    -color-button-pressed: #fff2;
    -color-overlay-hover: #fff1;
    -color-overlay-armed: #fff2;
    -color-success: #1cb631;
    -color-success-emphasis: #28d93c;
    -color-warning: #b77620;
    -color-danger: #db1d2b;
    -color-danger-emphasis: #b71c1f;
    -color-syntax-keyword: #b72486;
    -color-scrollbar-thumb: #9aa3af;
    -color-scrollbar-track: derive(#272b38, -90%);
    -color-tooltip-bg: #3F000F;
    -color-tooltip-fg: derive(#9aa3af, 50%);
    -color-drag-target: #3F000F;
    -color-drag-target-hover: #3F000F;
    -color-badge-bg: #151924;
    -color-badge-fg: #9aa3af;
}
