.root {
    -color-bg-secondary: #282a36;
    -color-bg-overlay: #282a36;
    -color-bg-alt: #373a4b;
    -color-accent: #bd93f9;
    -color-link: #bd93f9;
    -color-accent-subtle: #ff79c6;
    -color-selection: #ff79c6;
    -color-button-default: derive(#ff79c6, 50%);
    -color-button-hover: #44475a;
    -color-overlay-hover: #44475a;
    -color-success: #50fa7b;
    -color-success-emphasis: #6cf88f;
    -color-warning: #ffb86c;
    -color-danger: #fc6969;
    -color-danger-emphasis: #ff5555;
    -color-syntax-keyword: #9f5efa;
    -color-tooltip-bg: #ff79c6;
    -color-drag-target: #ff79c6;
    -color-drag-target-hover: #ff79c6;
}
