.root {
    -color-bg-primary: #282a36;
    -color-bg-secondary: #282a36;
    -color-bg-tertiary: #44475a;
    -color-bg-overlay: #282a36;
    -color-bg-alt: #373a4b;
    -color-bg-search: #44475a;
    -color-bg-sidepane: #44475a;
    -color-fg-default: #f8f8f2;
    -color-fg-muted: #f8f8f2;
    -color-fg-emphasis: #f8f8f2;
    -color-border-light: #6272a4;
    -color-border-muted: #6272a4;
    -color-accent: #bd93f9;
    -color-link: #bd93f9;
    -color-accent-subtle: #ff79c6;
    -color-selection: #ff79c6;
    -color-button-default: derive(#ff79c6, 50%);
    -color-button-hover: #44475a;
    -color-button-pressed: #6272a4;
    -color-overlay-hover: #44475a;
    -color-overlay-armed: #6272a4;
    -color-success: #50fa7b;
    -color-success-emphasis: #6cf88f;
    -color-warning: #ffb86c;
    -color-danger: #fc6969;
    -color-danger-emphasis: #ff5555;
    -color-syntax-keyword: #9f5efa;
    -color-scrollbar-thumb: #f8f8f2;
    -color-scrollbar-track: derive(#44475a, -90%);
    -color-tooltip-bg: #ff79c6;
    -color-drag-target: #ff79c6;
    -color-drag-target-hover: #ff79c6;
    -color-badge-bg: #282a36;
}
