.root {
    -color-bg-primary: #2c2c2c;
    -color-bg-secondary: #272727;
    -color-bg-tertiary: #2c2c2c;
    -color-bg-overlay: #272727;
    -color-bg-alt: #2c2c2c;
    -color-bg-search: #272727;
    -color-bg-sidepane: #2c2c2c;
    -color-fg-default: white;
    -color-fg-muted: white;
    -color-fg-emphasis: white;
    -color-fg-menu-active: derive(white, 50%);
    -color-border-default: #181818;
    -color-button-border: #181818;
    -color-accent: #e95420;
    -color-link: #e95420;
    -color-accent-subtle: #eb6536;
    -color-selection: #eb6536;
    -color-button-default: derive(#eb6536, 50%);
    -color-button-hover: #fff1;
    -color-button-pressed: #fff2;
    -color-overlay-hover: #fff1;
    -color-overlay-armed: #fff2;
    -color-success: #1cb631;
    -color-success-emphasis: #28d93c;
    -color-warning: #c47713;
    -color-danger: #db1d2b;
    -color-danger-emphasis: #b71c1f;
    -color-syntax-keyword: #b72486;
    -color-scrollbar-thumb: white;
    -color-scrollbar-track: derive(#272727, -90%);
    -color-tooltip-bg: #3d3d3dcc;
    -color-tooltip-fg: derive(white, 50%);
    -color-drag-target: #eb6536;
    -color-drag-target-hover: #eb6536;
    -color-badge-bg: #2c2c2c;
    -color-badge-fg: white;
}
