.root {
    -color-bg-primary: #101010;
    -color-bg-secondary: #101010;
    -color-bg-tertiary: #101010;
    -color-bg-overlay: #101010;
    -color-bg-alt: #080808;
    -color-bg-search: #222222;
    -color-bg-sidepane: #000000;
    -color-fg-default: #bbbbbb;
    -color-fg-muted: #888888;
    -color-fg-emphasis: #bbbbbb;
    -color-fg-menu-active: derive(#bbbbbb, 80%);
    -color-border-default: #888888;
    -color-button-border: #888888;
    -color-accent: #cccccc;
    -color-link: #cccccc;
    -color-accent-subtle: #555555;
    -color-selection: #555555;
    -color-button-default: derive(#555555, 50%);
    -color-button-hover: #fff5;
    -color-button-pressed: #fff2;
    -color-overlay-hover: #fff5;
    -color-overlay-armed: #fff2;
    -color-success: #1cb631;
    -color-success-emphasis: #28d93c;
    -color-warning: #b77620;
    -color-danger: #db1d2b;
    -color-danger-emphasis: #b71c;
    -color-syntax-keyword: #b72486;
    -color-scrollbar-thumb: derive(#bbbbbb, -50%);
    -color-scrollbar-track: derive(#010101, -90%);
    -color-tooltip-bg: #555555;
    -color-tooltip-fg: derive(#bbbbbb, 50%);
    -color-drag-target: #555555;
    -color-drag-target-hover: #555555;
    -color-badge-bg: #101010;
    -color-badge-fg: #bbbbbb;
}
